.subscribe-button{
    position: relative;
    background-color: rgb(207, 2, 2);
    color: white;
    border: none;
    /* width: 196px;
    height: 52px; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgb(143, 147, 143);
    margin-right: 15px;
    margin-bottom: 25px ;
    transition: background-color 1s;
}
.subscribe-button:hover{
    transition-duration: 0.1s;
    background-color: rgb(212, 103, 176);
}
.subscribe-button:active{
    background-color: rgb(15, 130, 187);
    box-shadow: 0 2px rgb(143, 147, 143);
    transform: translateY(2px);
}


.join-button{
    position: relative;
    background-color: rgb(255, 255, 255);
    color: rgb(77, 184, 213);
    /* width: 150px;
    height: 52px; */
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8.45px;
    padding-bottom: 8.45px;
    font-size: 28px;
    cursor: pointer;
    border-color: rgb(77, 184, 213);
    box-shadow: rgb(143, 147, 143);
    margin-right: 15px;
    margin-bottom: 25px ;
    transition: background-color 0.2s;
    
    
}
.join-button:hover{
    transition-duration: 0.1s;
    background-color: rgb(77, 184, 213);
    color: rgb(255, 255, 255);
}
.join-button:active{
    background-color: rgb(77, 184, 213);
    transition-duration: 0.4s;
    box-shadow: 5px 5px 1px rgba(255, 1, 225, 0.2);
    transform: translateY(2px);
}


.bell-icon{
    width: 58px;
    position: relative;
    transform: translate(22%, 22%);
}
.bell-icon:hover{
    animation: shake 0.5s linear infinite;

}
@keyframes shake {
    0% {
        transform: translate(22%, 22%) rotate(0deg);
    }    
    25% {
        transform: translate(22%, 22%) rotate(10deg);
    }    
    50% {
        transform: translate(22%, 22%) rotate(0deg);
    }    
    75% {
        transform: translate(22%, 22%) rotate(10deg);
    }    
    100% {
        transform: translate(22%, 22%) rotate(0deg);
    }    
}


.tweet-button{
    position: relative;
    background-color: rgb(29,155,240);
    color: rgb(255, 255, 255);
    /* height: 52px;
    width: 180px; */
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8.8px;
    padding-bottom: 8.8px;
    border-radius: 26px;
    font-size: 32px;
    font-family: ‘Bangers’, sans-serif;
    letter-spacing: 1.3px;
    text-shadow: 1px 1px 2px rgb(40, 39, 39);
    cursor: pointer;
    border: none;
    box-shadow: rgb(143, 147, 143);
    margin-right: 15px;
    margin-bottom: 25px ;
    transition: background-color 0.2s;
    
}
.tweet-button:hover{
    transition-duration: 0.1s;
    background-color: rgb(255, 255, 255);
    color: rgb(29,155,240);
    border: 2px solid rgb(29,155,240);
    padding-left: 23.4px;
    padding-right: 23.4px;
    padding-top: 7.2px;
    padding-bottom: 7.2px;
    border-radius: 26px; 
}
.tweet-button:active{
    background-color: rgb(29,155,240);
    color: white;
    transition-duration: 0.7s;
    box-shadow: 0 5px 5px rgba(255, 0, 0, 0.5);
    transform: translateY(2px);
    
}


.request-button{
    background-color: rgb(7, 7, 7);
    color: rgb(255, 255, 255);
    /* height: 52px;
    width: 200px; */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10.6px;
    padding-bottom: 10.6px;
    font-size: 26px;  
    cursor: pointer;
    border: none;
    box-shadow: rgb(143, 147, 143);
    margin-right: 15px;
    margin-bottom: 25px ;
    transition: opacity 0.8s;
}
.request-button:hover{
    /* background-color: rgb(61, 60, 60); */
    opacity: 0.7;
}
.request-button:active{
    background-color: black;
    border: none;
    transition-duration: 0.4s;
    box-shadow: 0 2px rgb(159, 158, 158);
    transform: translateY(2px);
}


.add-button{
    background-color: rgb(255,216,20);
    color: rgb(28, 27, 27);
    /* height: 52px;
    width: 290px; */
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 10.4px;
    padding-bottom: 10.4px;
    border-radius: 26px;
    border: none;
    font-size: 27px;
    cursor: pointer;
    border: none;
    box-shadow: rgb(143, 147, 143);
    margin-right: 15px;
    margin-bottom: 25px ;
    transition: background-color 0.2s;
}
.add-button:hover{
    background-color: rgb(232, 197, 26);
}
.add-button:active{
    background-color: rgb(255,216,20);
    border: none;
    transition-duration: 0.3s;
    box-shadow: 0 2px rgb(159, 158, 158);
    transform: translateY(1.3px);
}


.signup-button{
    background-color: rgb(67, 171, 97);
    color: white;
    /* height: 62px;
    width: 160px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 11.8px;
    padding-bottom: 11.8px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: rgb(143, 147, 143);
    margin-right: 15px;
    margin-bottom: 25px ;
    transition: background-color 0.2s;
}
.signup-button:hover{
    background-color: white;
    color: rgb(67, 171, 97);
    border: 2px solid rgb(67, 171, 97);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10.2px;
    padding-bottom: 10.2px;
}
.signup-button:active{
    background-color: rgb(67, 171, 97);
    color: white;
    transition-duration: 0.2s;
    box-shadow: 0 2px rgb(159, 158, 158);
    transform: translateY(2px);
}


.getstarted-button{
    background-color: rgb(129, 94, 182);
    color: white;
    /* height: 60px;
    width: 180px; */
    padding-left: 20.2px;
    padding-right: 20.2px;
    padding-top: 12.2px;
    padding-bottom: 12.2px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: rgb(143, 147, 143);
    margin-right: 10px;
    margin-bottom: 25px ;
    transition: background-color 0.2s;

}
.getstarted-button:hover{
    background-color: white;
    color: rgb(129, 94, 182);
    border: 2px solid rgb(129, 94, 182);
    padding-left: 18.6px;
    padding-right: 18.6px;
    padding-top: 10.6px;
    padding-bottom: 10.6px;
}
.getstarted-button:active{
    background-color: rgb(129, 94, 182);
    color: white;
    transition-duration: 0.3s;
    box-shadow: 0 2px rgb(159, 158, 158);
    transform: translateY(2px);
}


.download-button{
    background-color: white;
    color: rgb(151, 129, 185);
    /* height: 60px;
    width: 180px; */
    padding-left: 18.6px;
    padding-right: 18.6px;
    padding-top: 10.6px;
    padding-bottom: 10.6px;

    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
    border: 1.8px solid rgb(151, 129, 185);
    cursor: pointer;
    box-shadow: rgb(143, 147, 143);
    margin-right: 15px;
    margin-bottom: 25px ;
    transition: background-color 0.2s;
}
.download-button:hover{
    background-color: rgb(151, 129, 185);
    color: white;
    border: none;
    padding-left: 20.2px;
    padding-right: 20.2px;
    padding-top: 12.2px;
    padding-bottom: 12.2px;
}
.download-button:active{
    background-color: white;
    color: rgb(151, 129, 185);
    transition-duration: 0.4s;
    box-shadow: 0 2px rgb(159, 158, 158);
    transform: translateY(2px);
}


.apply-button{
    background-color: rgb(19, 118, 211);
    color: white;
    height: 60px;
    width: 380px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: rgb(143, 147, 143);
    margin-right: 10px;
    margin-bottom: 25px ;
    transition: background-color 0.2s;
}
.apply-button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(19, 118, 211);
    border: 2px solid rgb(19, 118, 211);
}
.apply-button:active{
    background-color: rgb(19, 118, 211);
    color: white;
    transition-duration: 0.05s;
    box-shadow: 0 2px rgb(159, 158, 158);
    transform: translateY(2px);
}


.save-button{
    background-color: white;
    color: rgb(19, 118, 211);
    height: 60px;
    width: 150px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 600;
    border: 2px solid rgb(19, 118, 211);
    cursor: pointer;
    box-shadow: rgb(143, 147, 143);
    margin-right: 10px;
    margin-bottom: 25px ;
    transition: background-color 0.2s;
}
.save-button:hover{
    background-color: rgb(19, 118, 211);
    color: white;
    border: none;
}
.save-button:active{
    background-color: white;
    color: rgb(19, 118, 211);
    transition-duration: 0.05s;
    box-shadow: 0 2px rgb(159, 158, 158);
    transform: translateY(2px);
}

